{% extends 'template.html' %}

{% load static %}

{% block content %}


<div class="col-sm-12" style="background-color:#7ed6df;">
  <div class="heading-title">
    <h1 class="text-center montserrat-font-title">Add Schedules</h1>
  </div>
  <div class="body-experiences">
    <div>

      <form method="POST" class="post-form" novalidate>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>
</div>


{% endblock %}