{% extends 'template.html' %}
{% load static %}

{% block content %}


<img src="{% static 'images/foto-profile.jpg' %}" id="findme-foto">
<article id="findme-nama">LAKSONO BRAMANTIO</article>
<article id="findme-keterangan">Student in Universitas Indonesia</article>
<div id="findme-contact-1">
    <article>Phone</article>
    <article>Email</article>
    <article>Address</article>
</div>
<div id="findme-contact-2">
    <article>: 089622445822</article>
    <article>: laxbramantio@gmail.com</article>
    <article>: Buaran I No. 59</article>
</div>
<img src="{% static 'images/facebook.png' %}" id="findme-facebook">
<img src="{% static 'images/instagram.png' %}" id="findme-instagram">
<img src="{% static 'images/linkedin.png' %}" id="findme-linkedin">

{% endblock %}