{% extends 'template.html' %}
{% load static %}

{% block content %}


  <!-- CONTAINER -->

  
  <div class="container">
    <h2 class="text-center">Who are you?</h2>

    <form class="form-horizontal">

      <!-- Name -->
      <div class="form-group">
        <label class="control-label col-sm-4">Name:</label>
        <div class="col-sm-5">          
          <input type="text" class="form-control" placeholder="Enter name">
        </div>
      </div>

      <!-- Date -->
      <div class="form-group">
        <label class="control-label col-sm-4">Date:</label>
        <div class="col-sm-5">          
          <input type="date" class="form-control" id="text">
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label class="control-label col-sm-4" for="email">Email:</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
      </div>

      <br/>

      <!-- Subject -->
      <div class="form-group">
        <label class="control-label col-sm-4">Subject:</label>
        <div class="col-sm-5">          
          <input type="text" class="form-control" placeholder="Enter subject">
        </div>
      </div>

      <!-- Message -->
      <div class="form-group">
        <label class="control-label col-sm-4">Message:</label>
        <div class="col-sm-5">          
          <textarea class="form-control" rows="5"></textarea>
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group">        
        <div class="col-sm-offset-4 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>

    </form>
  </div>

{% endblock %}