{% extends 'template.html' %}
{% load static %}

{% block content %}

<!-- HEADER IMAGE -->
<div id="header-background"></div>

<!-- PROFILE -->
<div id="profile-container">
    <div id="nama-profile">LAKSONO BRAMANTIO</div>
    <div id="keterangan-profile">Student in Universitas Indonesia</div>
    <div id="contact-1">
        <article>Phone</article>
        <article>Email</article>
        <article>Address</article>
    </div>
    <div id="contact-2">
        <article>: 089622445822</article>
        <article>: laxbramantio@gmail.com</article>
        <article>: Buaran I No. 59</article>
    </div>

    <a href="{% url 'findme' %}">
        <div id="findme-container">
            <div id="findme-text">Find Me</div>
        </div>
    </a>
    <img id="foto-profile" src="{% static 'images/foto-profile.jpg' %}">
</div>

<!-- ABOUT ME -->
<div id="aboutme-container">
    <div id="aboutme-title">About Me</div>
    <div id="aboutme-seperateline"></div>
    <div id="aboutme-text">Hello! My name is Laksono Bramantio, I also called Tio. Now, I’m a Information System student in Universitas Indonesia. My hobby is learning Web Planning and Programming. :)</div>
</div>

<!-- EDUCATION -->
<div id="education-container">
    <div id="education-titlebar">
        <div id="education-text">Education</div>
    </div>

    <div></div>
</div>

<!-- EXPERIENCE -->
<div id="experience-container">
    <div id="experience-titlebar">
        <div id="experience-text">Experience</div>
    </div>
    <img src="https://media.licdn.com/dms/image/C510BAQG_mJ_DvvTi7A/company-logo_400_400/0?e=1545264000&v=beta&t=4aYFAwXcr1KWPJmnxdjvcbP7m3Y4ES0h7weicSU1ALY" id="logobem">
    <div id="keterangan-bem">
        <article>Staff of Science Departement</article>
        <article>BEM Fasilkom UI 2018</article>
        <article>Mar 2018 - now</article>
    </div>

    <img src="https://media.licdn.com/dms/image/C510BAQEf9Guq2JvZiw/company-logo_400_400/0?e=1545264000&v=beta&t=PCAJeSiMvKXJqtzaHQcynuQnPNDlGKOLM2pd5OpygJA" id="logocompfest">
    <div id="keterangan-compfest">
        <article>Staff of IGI</article>
        <article>COMPFEST X</article>
        <article>Mar 2018 - now</article>
    </div>

    <img src="https://media.licdn.com/dms/image/C510BAQGS1_mMIJXh4g/company-logo_400_400/0?e=1545264000&v=beta&t=pPgfniQZ5r6gI5WQ7AQHOIs8BTT4CX5BvZYn9UPoyLQ" id="logofuki">
    <div id="keterangan-fuki">
        <article>Staff of Public Relations</article>
        <article>FUKI Fasilkom UI 2018</article>
        <article>Mar 2018 - now</article>
    </div>
    <div></div>
</div>

<!-- SKILLS -->
<div id="skills-container">
    <div id="skills-titlebar">
        <div id="skills-text">Skills</div>
    </div>

    <div></div>
</div>

{% endblock %}