{% extends 'template.html' %}
{% load static %}

{% block content %}

<div class="flex-row" > 
  <div class="col-sm-2"> </div>

      <div class="col-sm-8" >
          <div class="heading-title">
            <h1 class="text-center"><b>Schedules</b></h1>
          </div>
          <div class="text-center">
            <a href="{% url 'deleteAll' %}">
              <button type="" class="btn btn-warning">Delete All</button>
            </a>
          </div>
          <div class="body-experiences">
            <div class="table-responsive">
              {% if jadwal %}
              <table class="table table-hover">
                <thead>
                  <th>Nama Kegiatan</th>
                  <th>Tempat</th>
                  <th>Kategori</th>
                  <th>Tanggal</th>
                  <th>Jam</th>
                </thead>
                {% for jad in jadwal %}
                <tr>
                  <td>{{ jad.title }}</td>
                  <td>{{ jad.location }}</td>
                  <td>{{ jad.category }}</td>
                  <td>{{ jad.date }}</td>
                  <td>{{ jad.time }}</td>
                </tr>
                {% endfor %}
              </table>
              {% else %}
              <h1 class="text-center">Tidak ada jadwal!</h1>
              {% endif %}
            </div>
          </div>
          
        </div>

</div>



{% endblock %}