{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laksono Bramantio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="body">

    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"">
                <a class="navbar-brand" href="#">HELLO!</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'findme' %}">Find Me</a></li>
                <li><a href="{% url 'guest' %}">Guest</a></li>
                <li><a href="{% url 'addschedule' %}">Add Schedule</a></li>
                <li><a href="{% url 'schedule' %}">View Schedule</a></li>
            </ul>
        </div>
    </nav>

    {% block content %} {% endblock %}

</body>
</html>