body {
    position: relative;
    background: #EEEEEE;
    font-family: Segoe UI;
}

#body {
    background: #EEEEEE;
    font-family: Segoe UI;
}

#navbar {
    position: absolute;
    width: 1280px;
    height: 55px;
    left: 0px;
    top: 0px;

    background: #A7A7A7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-background {
    position: absolute;
    width: 100vw;
    height: 442px;
    left: 0px;
    top: 52px;

    background: url("/static/images/header.jpg");
}

#profile-container {
    position: absolute;
    width: 942px;
    height: 361px;
    left: 169px;
    top: 236px;

    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nama-profile {
    position: absolute;
    width: 461.82px;
    height: 30.59px;
    left: 78.17px;
    top: 65.31px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#keterangan-profile {
    position: absolute;
    width: 417.84px;
    height: 24.47px;
    left: 78.17px;
    top: 106.39px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    font-size: 24px;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contact-1 {
    position: absolute;
    width: 90.61px;
    height: 87.41px;
    left: 78.17px;
    top: 150.97px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;

    color: #FFFFFF;
}

#contact-2 {
    position: absolute;
    width: 458.31px;
    height: 83.04px;
    left: 178.45px;
    top: 150.72px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;

    color: #FFFFFF;
}

#findme-container {
    position: absolute;
    width: 200.56px;
    height: 48.08px;
    left: 78.17px;
    top: 256.73px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#findme-text {
    position: absolute;
    width: 119px;
    height: 22px;
    left: 39.83px;
    top: 7px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #000000;
}

#foto-profile {
    
    position: absolute;
    width: 260px;
    height: 260px;
    left: 610px;
    top: 50px;

    background: url(tio merah.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
}

#aboutme-container {
    position: absolute;
    width: 942px;
    height: 239px;
    left: 169px;
    top: 622px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#aboutme-title {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 340px;
    top: 36px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;

    color: #000000;
}

#aboutme-seperateline {
    position: absolute;
    width: 750px;
    height: 0px;
    left: 96px;
    top: 78px;

    border: 1px solid rgba(0, 0, 0, 0.8);
}

#aboutme-text {
    position: absolute;
    width: 813px;
    height: 94px;
    left: 65px;
    top: 98px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    font-size: 22px;
    text-align: center;

    color: #000000;
}

#education-container {
    position: absolute;
    width: 442px;
    height: 429px;
    left: 169px;
    top: 898px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#education-titlebar {
    position: absolute;
    width: 442px;
    height: 43.95px;
    left: 0px;
    top: 0px;

    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#education-text {
    position: absolute;
    width: 176.8px;
    height: 28.91px;
    left: 22.67px;
    top: 6.15px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 22px;

    color: #FFFFFF;
}

#experience-container {
    position: absolute;
    width: 442px;
    height: 429px;
    left: 669px;
    top: 898px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#experience-titlebar {
    position: absolute;
    width: 442px;
    height: 43.95px;
    left: 0px;
    top: 0px;

    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#experience-text {
    position: absolute;
    width: 176.8px;
    height: 28.91px;
    left: 22.67px;
    top: 6.15px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 22px;

    color: #FFFFFF;
}

#experience-container #logobem {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 51.25px;
    top: 71.5px;
}

#experience-container #logocompfest {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 51.25px;
    top: 188.45px;
}

#experience-container #keterangan-bem {
    position: absolute;
    width: 225.33px;
    height: 88.33px;
    left: 158.04px;
    top: 69.16px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;

    color: #000000;
}

#experience-container #keterangan-compfest {
    
    position: absolute;
    width: 225.33px;
    height: 88.33px;
    left: 158.04px;
    top: 186.99px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;

    color: #000000;
}

#experience-container #keterangan-fuki {
    
    position: absolute;
    width: 225.33px;
    height: 88.33px;
    left: 158.04px;
    top: 304.99px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;

    color: #000000;
}

#experience-container #logofuki {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 51.25px;
    top: 305.28px;
}

#skills-container {
    position: absolute;
    width: 942px;
    height: 325px;
    left: 169px;
    top: 1368px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills-titlebar {
    position: absolute;
    width: 942px;
    height: 50.56px;
    left: 0px;
    top: 0px;

    background: #27AE60;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#skills-text {
    position: absolute;
    width: 361px;
    height: 41px;
    left: 25px;
    top: 10px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 22px;

    color: #FFFFFF;
}

/*---- File 2 ----*/

#findme-foto {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 269px;
    top: 105px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
}

#findme-nama {
    position: absolute;
    width: 525px;
    height: 72px;
    left: 579px;
    top: 113px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;

    color: #4B4141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#findme-keterangan {
    position: absolute;
    width: 475.07px;
    height: 64.74px;
    left: 579px;
    top: 160px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
    font-size: 26px;

    color: #4B4141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#findme-contact-1 {
    position: absolute;
    width: 102px;
    height: 145px;
    left: 579px;
    top: 209px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    color: #4B4141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#findme-contact-2 {

    position: absolute;
    width: 424px;
    height: 131px;
    left: 681px;
    top: 209px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;

    color: #4B4141;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#findme-facebook {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 419px;
    top: 424px;
}

#findme-instagram {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 590px;
    top: 424px;
}

#findme-linkedin {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 761px;
    top: 424px;
}